/* RESET BROWSERSTYLE */
* {padding: 0; margin: 0;}


/* GLOBAL STYLES */
h1, h2, h3 {font-family: century gothic, verdana, sans-serif; color: #221; font-size: 24px; line-height: 1.6em; font-weight: 300; letter-spacing: 1px; border-bottom: 0px solid #999; padding: 0; margin: 0;}
h4 {font-family: century gothic, verdana, sans-serif; color: #221; font-size: 20px; line-height: 1.4em; font-weight: 300; letter-spacing: 1px; margin: 15px 0 10px 0;}
h5 {font-family: century gothic, verdana, sans-serif; color: #221; font-size: 18px; line-height: 1.4em; font-weight: 300; letter-spacing: 1px; margin: 15px 0 10px 0;}
h6 {font-family: century gothic, verdana, sans-serif; color: #221; font-size: 16px; line-height: 1.4em; font-weight: 300; letter-spacing: 1px; margin: 15px 0 10px 0;}
p {margin: 10px 0;}
ol {margin: 6px 0;}
ol li {line-height: 1.0em; border: 0; padding: 3px 0; margin: 0 0 0 22px;}
ul {list-style-image: url(images/inhlist.gif); margin: 6px 0;}
ul li {line-height: 1.0em; border: 0; padding: 3px 0; margin: 0 0 0 17px;}
hr {clear: both; height: 1px; color: #999; background-color: #999; border: 0; margin: 5px 0 3px 0;}


/* 
##############################
 C O N T E N T  C L A S S E S 
##############################
*/
.tplge_left_border {background: #fff; float: left; border: 1px solid #999; margin: 0 20px 10px 0;}
.tplge_left_noborder {float: left; border: 0; margin: 0 20px 10px 0;}
.tplge_right_border {background: #fff; float: right; border: 1px solid #999; margin: 0 0 10px 20px;}
.tplge_right_noborder {float: right; border: 0; margin: 0 0 10px 20px;}
.tplge_border {background: #fff; border: 1px solid #999;}
.tplge_noborder {border: 0;}
.clear_both {clear: both;}
.clear_right {clear: right;}
.clear_left {clear: left;}

.tplge_code {background: #eed; font-family: 'courier new', monospace; border: 1px solid #997; padding: 20px;}
.tplge_box01 {clear: both; background: #e6e9e3; border: 4px double #998; padding: 16px; margin: 16px 0;}
.tplge_legal {padding: 6px 0;}

.XXXXXXXXXXXXXXXXXX {} /* Marker for styles menu tinymce */


/* 
##############################
           B O D Y
##############################
 */
body {background: #fff; font-family: arial, verdana, sans-serif; color: #333; font-size: 15px; line-height: 1.3em; padding: 0; margin: 0;}
body#tplge_body {min-width: 720px; color: #333; padding: 10px 9px 10px 0;}
#top {}


/* 
##############################
        L A Y O U T
##############################
*/

div#tplge_header {height: 124px; width: 994px; clear: both; margin: 0 auto;}
div#tplge_locator {clear: both;}
div#tplge_main {width: 994px; clear: both; margin: 0 auto;}
div#tplge_page {}
div#tplge_sidebarNav {width: 248px; float: left;}
div#tplge_content {width: 496px; float: left;}
div.tplge_news {width: 248px; float: right; clear: right;}
div#tplge_notes {}

/* GLOBAL */
.tplge_inner {border: 0px solid #999; margin: 0 0 9px 9px;}


/* 
##############################
        D E S I G N
############################## 
*/

/* GLOBAL */
a:link {color: #258; text-decoration: none;}
a:visited {color: #258; text-decoration: none;}
a:hover {color: #c60; text-decoration: none;}
a:active {color: #c60; text-decoration: none;}
a:focus {color: #c60; text-decoration: none;}


/* HEADER */
div#tplge_header {border-top: 1px solid transparent;}
div#tplge_header div.tplge_inner {border: 0px solid #0c0; padding: 12px 9px 0 3px;}

#tplge_header h1 {width: 60%; float: left; font-family: century gothic, verdana, serif; color: #222; font-size: 24px; line-height: 1.2em; font-weight: 300; letter-spacing: 1px;}

/* searchbox */
div#searchbox {width: 35%; float: right; text-align: right;}
div#searchbox .text {width: 140px; background: #fff; color: #444; font-family: arial, sans-serif; font-size: 14px; border: 1px solid #aaa; padding: 2px 3px;}
div#searchbox .submit {background: #222; color: #fff; border: 0px solid #fff; padding: 2px 6px;}

/* language menu */
div.tplge_langmenu {clear: both; text-align: left; padding: 56px 0 0 0;}
div.tplge_langmenu img {margin-right: 16px; border: 2px solid #fff;}


/* locator */
div#tplge_locator {font-family: arial, sans-serif; color: #222; padding: 42px 0 0 0;}


/* MAIN CONTAINER*/
div#tplge_main {padding-top: 6px; border-top: 0px solid #666; border-right: 0px solid #666; border-bottom: 0px solid #666;}


/* SIDEBAR NAVIGATION */
div#tplge_sidebarNav div.tplge_inner {border: 0px solid #ccc;}

/* toc */
#tplge_sidebarNav li {list-style-type: none; list-style-image: none;}

#tplge_sidebarNav ul.menulevel1 {font-family: century gothic, arial, sans-serif; color: #fc0; border: 0; padding: 0; margin: 0;}
#tplge_sidebarNav ul.menulevel1 li {background: #404649; font-size: 15px; line-height: 1.2em; text-align: left; font-weight: 700; border: 4px solid #fff; padding: 10px 12px; margin: 0 0 9px 0;}

#tplge_sidebarNav ul ul.menulevel2 {border: 0; padding: 8px 0 4px 0; margin: 0;}
#tplge_sidebarNav ul ul.menulevel2 li {background: transparent; font-size: 15px; line-height: 1.2em; font-weight: 300; text-align: left; border: 0; padding: 3px 0 8px 1px; margin: 0;}

#tplge_sidebarNav ul ul ul.menulevel3 {margin: 3px 0;}
#tplge_sidebarNav ul ul ul.menulevel3 li {line-height: 1.2em; font-size: 14px; text-align: left; border: 0; padding: 7px 0 2px 16px; margin: 0;}

/* Links */
div#tplge_sidebarNav ul.menulevel1 a:link {color: #ddd; text-decoration: none;}
div#tplge_sidebarNav ul.menulevel1 a:visited {color: #ddd; text-decoration: none;}
div#tplge_sidebarNav ul.menulevel1 a:hover {color: #fc0; text-decoration: none;}
div#tplge_sidebarNav ul.menulevel1 a:active {color: #fc0; text-decoration: none;}
div#tplge_sidebarNav ul.menulevel1 a:focus {color: #fc0; text-decoration: none;}

div#tplge_subnav {background: #404649; border: 0px solid #fff; padding: 1px 6px 5px 8px; margin: 0;}
div#tplge_subnav ul {padding: 0; margin: 10px 0;}
div#tplge_subnav ul li {padding: 4px 0; margin: 2px 4px;}
#tplge_sidebarNav p.tplge_lastupdate {font-size: 12px; color: #999; text-align: left; padding: 4px 0; margin: 2px 4px;}

/* active menu items */
#tplge_sidebarNav ul.menulevel1 li.sdocs {background: #606669;}
#tplge_sidebarNav ul.menulevel1 li.sdoc {background: #606669;}
#tplge_sidebarNav ul.menulevel2 li.docs {}
#tplge_sidebarNav ul.menulevel2 li.doc {}

/* icons div */
#tplge_icons {text-align: center; padding: 12px 0 20px 0;}
#tplge_icons img {border: 0; margin: 0 8px;}


/* INHALT / CONTENT */
#tplge_content div.tplge_inner {background: #cdcdc9; border: 4px solid #fff; padding: 16px 19px;}
#tplge_content hr {clear: both; height: 1px; color: #999; background-color: #999; border: 0; margin: 5px 0 3px 0;}


/* vor-hoch-zurueck / prev-top-next */
#tplge_prevnext {clear: both; float: left; width: 100%; border: 0;}
#tplge_prevnext div.tplge_inner {text-align: center; border: 0; border-top: 1px solid #999; padding: 8px 0 0 0; margin: 12px 0 0 0;}
#tplge_prevnext div.tplge_inner span {padding: 0 6px 0 2px;}


/* NEWSBOXEN / NEWSBOXES */
div.tplge_news {line-height: 1.2em;}
div.tplge_news div.tplge_inner {background: #cdcdc9; font-size: 14px; border: 4px solid #fff; padding: 12px 16px 16px 16px; margin: 0 9px 20px 6px;}

div.tplge_news h4 {color: #666; font-size: 17px; font-weight: 300; line-height: 1.4em; border: 0px solid #fff; padding: 4px 0 6px 0; margin: 0;}
div.tplge_news h5 {color: #666; font-size: 16px; font-weight: 300; letter-spacing: 1px; margin: 10px 0 0 0;}
div.tplge_news h6 {color: #666; font-size: 15px; font-weight: 300; letter-spacing: 1px; margin: 10px 0 0 0;}


/* FUSSLINKS / FOOTER LINKS */
#tplge_notes {color: #888; font-family: arial, sans-serif; font-size: 12px; text-align: right; padding: 120px 30px 24px 30px; margin: 0;}
#tplge_notes span {padding: 0 6px 0 2px;}


/* 
##############################
 S O N S T I G E S / R E S T
############################## 
*/

#passwd {border: 1px solid #999;}
.text {background: #dcdcd9; color: #333; font-family: arial, sans-serif; border: 1px solid #999; padding: 2px 3px;}
.file {border: 1px solid #999;}
.scroll {background: #eec; border: 1px solid #997; padding: 10px; overflow: scroll;}
.retrieve {background: #ffffff; background-image:none; border: 0;}
table.edit {background: #222; font-size: 14px; line-height: 1.2em; border: 1px solid #999; margin: 1px 0;}
table.edit td {border: 0; padding: 3px;}
table.edit a:link {color: #ccc;}
table.edit a:visited {color: #ccc;}
#tplge_content textarea {width: 90%; background: #dcdcd9; color: #333; border: 1px solid #999; padding: 4px 8px!important; margin: 0 0 10px 0;}
#cmsimple_mailform textarea {width: 90%; background: #dcdcd9; color: #333; font-family: arial, sans-serif; border: 1px solid #999; padding: 10px; margin: 0 0 10px 0;}